body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.all-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height:55%
}


.card{
    flex: 1 0 auto;
    width: 160px;
    height: 100%;
    word-wrap: break-word;
    border: 1px solid #CDCDCD;
    box-shadow: 5px 5px 7px #CDCDCD;
    margin: 1%;
}


img{
    width: 100%;
    height: 128px;
    padding: 0;
}

h3, p{
    word-wrap: break-word;
    margin: 10%
}

button{
    background-color: #808080;
    color: white;
    width: 80%;
    height: 2.5rem;
    border: 0px;
    margin: 5%;
}